<p>test-component works!</p>
<!--string Interpolation-->
<p>{{message}}</p>

<img src="{{imgUrl}}" alt=""><br/>
<img src="{{imgNaturaUrl}}" alt=""><br/>
<img src="{{imgKitUrl}}" alt="">
!--property binding-->
<img [src]="imgUrl" alt=""><br/>
<img [src]="imgNaturaUrl" alt=""><br/>
<img [src]="imgKitUrl" alt="">
<h2 [class.text-red] = "bool">Angular Test</h2>
<h1 [style.color] = "bool? 'red' : 'blue'">Style Binding</h1>
<!--event binding-->
<button (click)="buttonClick()">Click Me</button>
<!--Event Filtering-->
<br/>
<input type="text" [(ngModel)] = "userName" (keyup.enter) = "onKeyup()">
<br/>
<textarea id="w3review" name="w3review" rows="4" cols="50">
    At w3schools.com you will learn how to make a website. 
    They offer free tutorials in all web development technologies.
</textarea>
<br/>
<p>end test-component works</p>
